# SPDX-License-Identifier: MIT
# SPDX-FileCopyrightText: 2026 tanglinjie
# SDK dependency symbols supplied by a real BSP/package Kconfig in production.
config RT_USING_HEAP
    bool "Heap"
config RT_USING_DFS
    bool "DFS"
config RT_USING_POSIX_FS
    bool "POSIX files"
config PKG_USING_WEBCLIENT
    bool "WebClient"
config WEBCLIENT_DEBUG
    bool "WebClient credential debug"
source "$CAGENT_SOURCE_ROOT/Kconfig"
source "$CAGENT_SOURCE_ROOT/ports/rtthread/Kconfig"
